.card {
	width: 400px;
	cursor: pointer;
	font-family: "Rubik", sans-serif;
	margin-top: 20px;
}

.img-video {
	width: 400px;
	height: 250px;
}

.card:hover {
	transform: scale(1.02);
}

.card h3 {
	color: #ffffff;
	font-size: 20px;
	margin: 8px 0;
}

.card p {
	color: #ccc3c3;
	font-size: 16px;
	text-align: justify;
}

@media only screen and (max-width: 930px) {
	.img-video {
		width: 280px;
	}
	.card {
		height: 436px;
		width: 280px;
		cursor: pointer;
		font-family: "Rubik", sans-serif;
	}
}

@media only screen and (max-width: 937px) {
	.card {
		margin-bottom: 50px;
	}
}
